# Virtual environment
PyDeo/
dev/

# Byte-compiled / optimized Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE-specific files
.vscode/
*.pyc

# Environment configuration files
.env

# Others
*.h5
*.csv
*.mp4
settings.ini
config.yaml
config.yml
.DS_Store